.accountCommon {
    .textName {
      position: relative;
      font-size: 14px;
      color: #333;
      font-weight: bolder;
  
      .bd_left {
        position: absolute;
        width: 3px;
        top: 3px;
        height: 15px;
        background: #3b84fb;
      }
  
      .text {
        padding-left: 10px;
      }
    }
    .updateTime {
      font-size: 12px;
      color: #666;
      margin-right: 15px;
    }
    .el-table {
      border: 1px solid #ebeef5;
      font-size: 12px;
      tr th {
        background: #f5f7fa;
        font-weight: 600;
      }
      td,
      th {
        color: #666;
        padding: 8px 0;
      }
      th.is-hidden > * {
        visibility: initial;
      }
      .el-input {
        .el-input__inner {
          color: #333333;
          background: transparent;
          border-color: transparent;
        }
      }
      .el-textarea {
        ::-webkit-scrollbar {
          width: 0;
        }
        .el-textarea__inner {
          // display: -webkit-box;
          // -webkit-box-orient: vertical;
          // -webkit-line-clamp: 2;
          color: #333333;
          background: transparent;
          border-color: transparent;
          line-height: 23px;
          padding: 0;
          font-size: 12px;
          font-family: "Avenir", Helvetica, Arial, sans-serif;
        }
        // .el-textarea__inner:focus {
        //   -webkit-line-clamp: initial;
        // }
      }
      .el-textarea.is-disabled .el-textarea__inner {
        color: #666;
      }
      .el-select .el-input .el-input__inner {
        background: transparent;
        border: 0;
        font-size: 12px;
      }
      .el-select .el-input .el-select__caret {
        color: #000;
      }
      .el-date-editor .el-input__prefix {
        left: initial;
        right: 5px;
        font-size: 18px;
        color: #999;
      }
      .el-checkbox__label {
        font-size: 12px;
        color: #666;
        font-weight: 600;
      }
      .doc_icon {
        font-size: 16px;
        color: #409eff;
        i {
          vertical-align: middle;
        }
      }
      .el-table__fixed {
        bottom: 18px;
      }
    }
    .el-input .el-input__inner {
      text-align: left;
    }
    .el-select .el-input .el-input__inner {
      padding: 0 25px 0 6px;
    }
  
    .el-select__tags {
      max-width: 100% !important;
      max-height: 84px;
      overflow-y: auto;
      overflow-x: hidden;
      .el-select__input {
        margin-left: 5px;
      }
      .el-tag {
        width: 100%;
      }
      .el-select__tags-text {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .el-icon-close {
        top: -6px;
        right: 15px;
      }
    }
    .remoteTableSelect .el-input .el-input__inner {
      padding: 0;
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s;
    }
    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }
  }
  
  .remoteSelect {
    .el-select-dropdown__item {
      max-width: max-content;
    }
    .el-select-dropdown__wrap .el-select-dropdown__list .selected::after {
      right: 5px;
    }
  }
  